.login{
   
    height: 100vh;
   
    padding-top: 100px;

}
.loginforom{
    background-color: white;
   border-radius: 10px;
   height:400px ;
   display: flex;
   justify-content: center;
   align-items: center;
   color: purple;
       font-family: 'EB Garamond', serif;
       box-shadow: 1px 1px 3px 1px gray;

 
}
.login h1{
    font-weight: 900;
    font-size: 6vw;
    font-family: 'EB Garamond', serif;
 color: rgb(6, 26, 58);
}
.loginforom button{
    border: 1px solid black;
    border-radius: 25px ;
    transition: all 0.5s;
}
.loginforom button:hover{
    transform: scale(1.1);
}